<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>Blog</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">Blog Article</h1>
      <a href="/api/articles/new" class="btn btn-primary">New Article</a>
      <% articles.forEach( (article) => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <h6 class="card-subtitle text-muted mb-2">
            <%= article.createAt.toLocaleDateString() %>
          </h6>
          <p class="card-text"><%= article.description %></p>
          <a
            href="/api/articles/<%= article._id %>"
            class="btn btn-primary btn-sm"
            >Read More</a
          >
          <form
            action="/api/articles/del"
            method="post"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger btn-sm">删除</button>
            <input type="hidden" name="id" value="<%= article._id %>" />
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
